SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=
SHOPIFY_SCOPES=read_orders,read_customers,read_discounts,write_discounts,read_pixels,write_pixels,read_customer_events
SHOP_DOMAIN=
DATABASE_URL=
DIRECT_DATABASE_URL=
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
RECOVERY_LINK_SECRET=
PORT=8080
